<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Main page</title>
</head>
<body>

     <h2>Send Name </h2>
    
     <form action="/" method="post">
        <input type="text" name="name" placeholder="enter your name...">
        <button type="submit">Send message</button>
     </form>

     <hr>
     <a href="/about"> About page </a> <br>
     <a href="/contact">Contact page</a>
 
    
     
</body>
</html>